# SPDX-License-Identifier: EUPL-1.2
# License: European Union Public Licence v1.2 (EUPL-1.2)

# Attiva il motore di riscrittura URL
RewriteEngine On

# Se è una directory esistente, non riscrivere
RewriteCond %{REQUEST_FILENAME} !-d

# Se è un file esistente, non riscrivere
RewriteCond %{REQUEST_FILENAME} !-f

# Altrimenti, reindirizza tutto a index.php
RewriteRule ^ index.php [QSA,L]
