<!DOCTYPE html>
<html lang="it">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Page details -->

    {% block page_title %}{% endblock page_title %}

    <meta name="description" content="${SATOSA_UI_DESCRIPTION_IT}">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ static }}spid/bootstrap-italia.css">
    <!-- Extra CSS/Javascript -->

    <link rel="shortcut icon" href="{{ static }}spid/favicon-32x32.png">

    <link type="text/css" rel="stylesheet" href="{{ static }}spid/spid-sp-access-button.css">

    {% block extra_head %} {% endblock %}

  </head>
  <body>

    <div class="it-header-wrapper">

      <!-- Top row in header -->

      <div class="it-header-slim-wrapper">
	<div class="container">
	  <div class="row">
	    <div class="col-12">
	      <div class="it-header-slim-wrapper-content">
		<a class="d-none d-lg-block navbar-brand" href="${SATOSA_ORGANIZATION_URL_IT}">

		  ${SATOSA_ORGANIZATION_DISPLAY_NAME_IT}

		</a>
		<div class="nav-mobile">
		  <nav>
		    <a class="it-opener d-lg-none" data-toggle="collapse" href="#menu-principale" role="button" aria-expanded="false" aria-controls="menu-principale">
		      <span>

			${SATOSA_ORGANIZATION_DISPLAY_NAME_IT}

		      </span>

		    </a>

		  </nav>
		</div>


	      </div>
	    </div>
	  </div>
	</div>
      </div>


      <div class="it-nav-wrapper">
	<div class="it-header-center-wrapper">
	  <div class="container">
	    <div class="row">
	      <div class="col-12">
		<div class="it-header-center-content-wrapper">
		  <!-- Logo -->
		  <div class="it-brand-wrapper">
		    <a href="${SATOSA_ORGANIZATION_URL_IT}">

		      <div class="col-10 col-md-12 offset-1 offset-md-0">
			<img src="${SATOSA_UI_LOGO_URL}" style="width: ${SATOSA_UI_LOGO_WIDTH}px; height: ${SATOSA_UI_LOGO_HEIGHT}px;" alt="${SATOSA_ORGANIZATION_DISPLAY_NAME_IT}">
		      </div>


		      <div class="it-brand-text">
			<h2 class="no_toc">

			${SATOSA_ORGANIZATION_NAME_IT}

			</h2>
			<h3 class="no_toc d-none d-md-block">

			${SATOSA_UI_DISPLAY_NAME_IT}

			</h3>
		      </div>
		    </a>
		  </div>

		  <!-- Social and Search -->

		  <div class="it-right-zone">





		  </div>

		</div>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- Main menu -->

	<div class="it-header-navbar-wrapper">
	  <div class="container">
	    <div class="row">
	      <div class="col-12">
		<nav class="navbar navbar-expand-lg has-megamenu">
		  <button class="custom-navbar-toggler" type="button" aria-controls="nav10" aria-expanded="false" aria-label="Toggle navigation" data-target="#nav10">
		    <svg class="icon">
		      <use xlink:href="{{ static }}spid/svg/sprite.svg#it-burger"></use>
		    </svg>
		  </button>
		  <div class="navbar-collapsable" id="nav10">
		    <div class="close-div sr-only">
		      <button class="btn close-menu" type="button">
			<span class="it-close"></span>chiudi
		      </button>
		    </div>
		    <div class="menu-wrapper">
		      <ul class="navbar-nav">

		      </ul>
		    </div>
		  </div>
		</nav>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>


    <!-- Main block -->

    <div class="container my-4" style="min-height: 350px;">

      {% block container %}

      <div class="row justify-content-center">
	<div class="col-12 col-lg-10">

	  {% block content %}

	  {% endblock %}

	</div>
      </div>

      {% endblock %}

    </div>

    <footer class="it-footer">
      <div class="it-footer-main">
	<div class="container">
	  <section>
	    <div class="row clearfix">
	      <div class="col-sm-12">
		<div class="it-brand-wrapper">
		  <a href="${SATOSA_ORGANIZATION_URL_IT}">
		    <img src="${SATOSA_UI_LOGO_URL}" style="width: ${SATOSA_UI_LOGO_WIDTH}px; height: ${SATOSA_UI_LOGO_HEIGHT}px;" alt="${SATOSA_ORGANIZATION_DISPLAY_NAME_IT}">
		    <div class="it-brand-text">
		      <h2 class="no_toc">
			${SATOSA_ORGANIZATION_NAME_IT}
		      </h2>
		      <h3 class="no_toc d-none d-md-block">
			${SATOSA_UI_DISPLAY_NAME_IT}
		      </h3>
		    </div>
		  </a>
		</div>
	      </div>
	    </div>
	  </section>

	  <section>
	    <div class="row">

	      <div class="col-lg-3 col-md-3 col-sm-6 pb-2">
		<h4>
		  <a href="${SATOSA_ORGANIZATION_URL_IT}" title="${SATOSA_ORGANIZATION_NAME_IT}">${SATOSA_ORGANIZATION_NAME_IT}</a>
		</h4>
	      </div>

	    </div>
	  </section>
	</div>
      </div>

      <div class="it-footer-small-prints clearfix">
	<div class="container">

	  <h3 class="sr-only">
	    Sezione Link Utili
	  </h3>

	  <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
	    <li class="list-inline-item">
	      <a href="${SATOSA_UI_INFORMATION_URL_IT}" title="Note Legali">
		Note legali
	      </a>
	    </li>
	    <li class="list-inline-item">
	      <a href="${SATOSA_UI_PRIVACY_URL_IT}" title="Protezione dei dati">
		Protezione dei dati
	      </a>
	    </li>
	  </ul>

	</div>
      </div>

    </footer>

    <script>window.__PUBLIC_PATH__ = "{{ static }}spid/fonts"</script>
    <script src="{{ static }}spid/bootstrap-italia.js"></script>

    <script src="{{ static }}spid/spid-sp-access-button.js"></script>
    <script src="{{ static }}spid/spid_button.js"></script>

    {% block extra_scripts %} {% endblock %}

  </body>
</html>
