{
  "digital_id": {
    "spid": {
      "name": "SPID",
      "logo_text": "Entra con SPID (Demo)",
      "logo": "spid/spid_icon.svg",
      "login_url": "/Saml2/disco?entityID=https://demo.spid.gov.it&return=${IAM_PROXY_PUBLIC_BASE_URL:-https://satosa-nginx:9445}/static/disco.html"
    }
  }
}
