{
  "digital_id": {
    "spid": $ENABLE_SPID,
    "cie": $ENABLE_CIE,
    "cie_oidc": $ENABLE_CIE_OIDC,
    "it_wallet": $ENABLE_IT_WALLET
  },
  "alternative_id": {
    "idem": $ENABLE_IDEM,
    "eidas": $ENABLE_EIDAS
  }
}
