{% extends 'base.html.twig' %}

{% block title %}Ricerca Incassi{% endblock %}

{% block content %}
<div class="container py-4">
  <h1>Ricerca Incassi</h1>
  <p>Template base per la ricerca degli incassi. Aggiungere filtri e tabella risultati.</p>
  <!-- TODO: implementare form filtri e tabella risultati -->
</div>
{% endblock %}
