RewriteEngine On
# If the requested filename exists, serve it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# Otherwise rewrite to Slim front controller
RewriteRule ^ index.php [QSA,L]
