{% extends 'base.html.twig' %}

{% block title %}Home - GovPay{% endblock %}

{% block content %}
  <h1 class="it-title">Benvenuto nel backend GovPay</h1>
  <p>Questa è una pagina di esempio con Bootstrap Italia.</p>
  <button class="it-btn it-btn-primary">Cliccami!</button>

  <hr/>
  <h3>Verifica client</h3>
  <pre>{{ debug|raw }}</pre>
{% endblock %}
