{% extends 'base.html.twig' %}

{% block title %}Pendenze - GovPay{% endblock %}

{% block content %}
  <h1>Pendenze</h1>
  <p>Questa è la view di esempio per le pendenze.</p>
  <pre>{{ debug|raw }}</pre>
{% endblock %}
