{% extends 'base.html.twig' %}

{% block title %}Accedi con SPID{% endblock %}

{% block content %}
  <div class="container my-4">
    <h2 class="mb-3">Accedi con SPID</h2>
    <p class="text-muted">Seleziona il tuo Identity Provider per continuare.</p>
    <ul id="spid-idp-list-medium-root-get" class="spid-idp-button-list"></ul>
  </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  {% if iam_proxy_public_base_url is not empty %}
    <script src="{{ iam_proxy_public_base_url }}/static/spid/spid-idps.js" defer></script>
  {% endif %}
{% endblock %}
