<footer class="it-footer text-white mt-4">
  <div class="it-footer-main mt-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="py-2 col-12 col-md-4 text-start">
          {{ app_entity.full }}
        </div>
        <div class="py-2 col-12 col-md-4 text-center d-none d-md-block">
          <a href="https://github.com/mirkochipdotcom/GovPay-Interaction-Layer/releases/tag/v0.7"
             target="_blank" rel="noopener noreferrer"
             class="text-white text-decoration-none small opacity-75"
             title="Vai al repository GitHub">
            <i class="fab fa-github me-1"></i>v0.7
          </a>
        </div>
        <div class="py-2 col-12 col-md-4 text-end d-none d-md-block">
          <img src="/img/logo-pagopa-bianco.svg" alt="PagoPA" style="height:30px" />
        </div>
      </div>
    </div>
  </div>
</footer>
