<!doctype html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ app_entity.name }} – Sportello pagamenti{% endblock %}</title>
    <link rel="icon" href="{{ app_favicon.href }}" type="{{ app_favicon.type }}">
    <link rel="stylesheet" href="/assets/bootstrap-italia/css/bootstrap-italia.min.css">
    <link rel="stylesheet" href="/assets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    {% block head %}{% endblock %}
  </head>
  <body class="it-body">
    {% include 'partials/header.html.twig' %}
    <main id="main" class="pb-5">
      {% block content %}{% endblock %}
    </main>
    {% include 'partials/footer.html.twig' %}
    <script src="/assets/bootstrap-italia/js/bootstrap-italia.bundle.min.js"></script>
    <script src="/assets/js/app.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
