{% extends 'base.html.twig' %}

{% block title %}Home - GovPay{% endblock %}

{% block content %}
  <h2 class="it-title">Benvenuto nel backend GovPay Interaction Layer (GIL)</h2>
  <p>Questo applicativo serve a interagire con un istanza PagoPA gestita con un nodo <a href="https://govpay.readthedocs.io/it/master/">GovPay</a>.</p>
  <div class="mt-3">
    <a href="/guida" class="btn btn-primary">
      <i class="fas fa-book-open me-2"></i>Apri la guida rapida
    </a>
  </div>

{% endblock %}