{% extends 'base.html.twig' %}

{% block title %}Home - GovPay{% endblock %}

{% block content %}
  <h1 class="it-title">Benvenuto nel backend GovPay Interaction Layer (GIL)</h1>
  <p>Questa applicativo serve a interagire con un istanza GovPay.</p>
  <pre>{{ debug|raw }}</pre>

  <hr/>

{% endblock %}