{% extends 'base.html.twig' %}

{% block title %}Ricerca Flussi{% endblock %}

{% block content %}
<div class="container py-4">
  <h1>Ricerca Flussi</h1>
  <p>Template base per la ricerca dei flussi. Aggiungere filtri e tabella risultati.</p>
  <!-- TODO: implementare form filtri e tabella risultati -->
</div>
{% endblock %}
