{% extends 'base.html.twig' %}
{% block content %}
<div class="container my-5" style="max-width:640px;">
  <h1 class="h4 mb-3">Nuovo utente</h1>
  {% if error %}<div class="alert alert-danger">{{ error }}</div>{% endif %}
  <form method="post" action="/users/new" autocomplete="off">
    {# Hidden dummy fields to discourage browser autofill #}
    <input type="text" name="fakeusernameremembered" autocomplete="username" style="position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden;" aria-hidden="true" tabindex="-1">
    <input type="password" name="fakepasswordremembered" autocomplete="new-password" style="position:absolute;left:-9999px;top:auto;width:1px;height:1px;overflow:hidden;" aria-hidden="true" tabindex="-1">
    <div class="mb-3">
      <label class="form-label">Email</label>
  <input class="form-control" type="email" name="email" required autocomplete="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Nome</label>
      <input class="form-control" type="text" name="first_name">
    </div>
    <div class="mb-3">
      <label class="form-label">Cognome</label>
      <input class="form-control" type="text" name="last_name">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
  <input class="form-control" type="password" name="password" required autocomplete="new-password">
    </div>
    <div class="mb-3">
      <label class="form-label">Ruolo</label>
      <select class="form-select" name="role">
        <option value="user">user</option>
        <option value="admin">admin</option>
        <option value="superadmin">superadmin</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit">Crea</button>
    <a class="btn btn-outline-secondary" href="/users">Annulla</a>
  </form>
  </div>
{% endblock %}
